// ./src/style/variables.scss

$button-height: 40px;
$body-font-family: "THSarabun", sans-serif;
$background-color: #f5f5f5;
$primary-color: #FFD400;
$active-color: #1094FB;


$typoOptions: text-h1, text-sm-h1, text-md-h1, text-lg-h1, text-h2, text-sm-h2,
  text-md-h2, text-lg-h2, text-h3, text-sm-h3, text-md-h3, text-lg-h3, text-h4,
  text-sm-h4, text-md-h4, text-lg-h4, text-h5, text-sm-h5, text-md-h5,
  text-lg-h5, text-h6, text-sm-h6, text-md-h6, text-lg-h6, headline, title,
  subtitle-1, subtitle-2, text-body-1, text-sm-body-1, text-md-body-1,
  text-lg-body-1, text-body-2, text-sm-body-2, text-md-body-2, text-lg-body-2,
  text-caption, font-weight-bold, text-none;

#app {
  font-family: $body-font-family !important;
}

@each $typoOption in $typoOptions {
  .#{$typoOption} {
    font-family: $body-font-family !important;
  }
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.v-list-item {
  background: white;
  color: #121212;
}

.v-list-item--active {
  background: $active-color;
  color: white;
}

.v-list-item__prepend {
  display: flow;
  padding-right: 5px;
}

.v-data-table thead tr {
  background-color: #F1EFEF;
}

.v-chip.v-chip {
  font-size: 12px;
  height: 25px;
}

.custom-dialog {
  position: absolute;
  top: 20% !important;
  margin: 0;
  min-height: 100%;
}

.v-tooltip .v-overlay__content {
  background: $active-color !important;
  color: #FFFFFF !important;
}